<!DOCTYPE HTML>

<html>
	<head>
		<title>501 Society</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/501-society-tab-icon-round.png">
		<link rel="stylesheet" href="/css/new.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap" rel="stylesheet">
		
	</head>
	<body class="homepage is-preload">
			
		<section class="hero">
			<h1>5:01 Society</h1>
			<span>Your journey of online learning starts here...</span>
			<button><a href="/signup">Get started!</a></button>
		</section>

		<!-- Scripts -->
        <script src="/js/jquery.min.js"></script>
        
        <script src="/js/browser.min.js"></script>
        <script src="/js/breakpoints.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>

	</body>
</html>