<!DOCTYPE HTML>
<!--
	Escape Velocity by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>My Learning Stacks</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/images/501-society-tab-icon-round.png">
		<link rel="stylesheet" href="/css/new.css" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Space+Mono&display=swap" rel="stylesheet">
		<script src="https://kit.fontawesome.com/c46266e803.js" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/c46266e803.js" crossorigin="anonymous"></script>
	</head>
	<body>
		
		<!-- Nav -->
		<nav id="nav">
			<ul>
				<!-- Add Learning Stack Button -->
				<button type="button" class="add-learning-stack-button" onclick="openForm()" >Add Learning Stack +</button>
				<li class="current"><a href="/">Home</a></li>
				<li><a href="/logout" class="logout__btn">Logout</a></li>
			</ul>
		</nav>

		<div class="container background-2">
			
			<!-- Hero -->
			<section class="hero">
	
					<h1>My Learning<br>Stacks</h1>
				
			</section>

		
			<!-- Add learning stack popup -->
		
			<form action="/learning-stacks/createLearningStack" method='POST' class="add-learning-stack-form" id="addLearningStackForm">
				<button class="close-form" onclick="closeForm()">Close</button>
				<br>
				<h2 class="add-learning-stack-header">Add a Learning Stack</h2>
				<label for="learning-stack-name" class="form-name">Learning Stack Name</label>
				<input type="text" placeholder="Enter the Name of Your Learning Stack" name="learningStackName" required>
				<input type="submit" value="Submit" class="submit-form">
			</form>

				
		</div>


		
		
		<!--  -->
		<div class="columnContainer">

			<!-- Filters -->
				<!-- <nav class="filters">
					<a href="#">Tiles</a>
					<a href="#">List</a>
					<a href="#">Sort</a>
					<a href="#">Tags</a>
				</nav>	 -->

				<!-- Tiles Container -->
				<div id="tilesContainer">
					<% for(var i=0; i<learningStacks.length; i++) {%>						
							
						<div class="tile">
							<a href="/learning-stack-page/<%= learningStacks[i]._id%>">
								
									<h3><%= learningStacks[i].learningStackName %></h3>
									<span><%= learningStacks[i].dateCreated %></span>
								
							</a>

							<form
								action="/learning-stacks/deleteLearningStack/<%= learningStacks[i].id %>?_method=DELETE"
								method="POST">
								<button class="btn btn-primary fa fa-trash" type="submit"></button>
							</form>
						</div>
						
					<% } %>
				</div>
					
		</div>


		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/browser.min.js"></script>
			<script src="/js/breakpoints.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>