html{
    min-height: 100%;
    min-width: 100%;
    background: url("../../images/501-society-motion-background.gif") no-repeat center center fixed;
    /* background: url("../../images/501-society-background.png") no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.hero h1{
    display: flex;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 10em;
    margin-bottom: .5em;
    margin-top: 0;
    
}

.hero span{
    display: flex;
    color: white;
    font-size: 2.5em;
    font-family: 'Space Mono', monospace;
    max-width: 50%;
    text-align: center;
}

.hero button{
    display: flex;
    max-width: 50%;
    font-size: 2em;
    margin-top: .5em;
    border: none;
    font-family: 'Space Mono', monospace;
    background-color: aqua;
    box-shadow: 10px 5px 5px rgb(0, 130, 130);
    padding: .25em;
}


a:-webkit-any-link {
    text-decoration: none;
}

.hero button:hover{
    text-decoration: underline;
    box-shadow: 10px 5px 5px black;
}

a.navButton{
    display: flex;
    flex-direction: row-reverse;
    color: aqua;
    font-size: 1.5em;
    font-family: 'Space Mono', monospace;
    justify-self: flex-end;
    text-decoration: underline; 
    align-self: flex-start;
    
}

a.navButton:hover{
    text-decoration: none;
}